//  * Use icons as needed

FONTAWESOME EXPAMPLE
	fa-icon($icon, $position="before")
	  &:{$position}
	    content $fa-icons[$icon]

	.test-icon
		@extend .fa
		fa-icon(bars)
		color white
		font-size 3em

	

