include _mixins
<!DOCTYPE html>
html(lang="ru")
	head
		include meta-standard
		+styles([
		"bower/normalize-css/normalize.css",
		"bower/owl.carousel/dist/assets/owl.carousel.css",
		"css/styles.css"
		])
		block title
			title Главная
	body
		include _header
		block content
		include _address
		include _footer
		+scripts(["bower/jquery/dist/jquery.min.js", "js/main.js"])