<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		block styles
		link(rel="stylesheet", href="bower/owl.carousel/dist/assets/owl.carousel.css")
		link(rel="stylesheet", href="styles.css")
		block title
			title Главная
	body
		include _mixins
		include _header
		block content
		script(src="bower/jquery/dist/jquery.min.js")
		script(src="js/main.js")