<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		block styles
		link(rel="stylesheet", href="common.css")
		link(rel="stylesheet", href="styles.css")
		block title
			title Главная
	body
		include _mixins
		include _header
		block content
		script(src="js/common.js")
		block scripts