include _mixins
doctype html
html(lang="ru")
	head
		include meta-standard
		+styles([
		"bower/normalize-css/normalize.css",
		"bower/easydropdown/themes/easydropdown.css",
		"bower/ion.rangeSlider/css/ion.rangeSlider.css",
		"bower/ion.rangeSlider/css/ion.rangeSlider.skinHTML5.css",
		"css/styles.css"
		])
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		block title
			title Главная
	body
		include _header
		block content
		include _address
		include _footer
		+scripts([
			"bower/jquery/dist/jquery.min.js",
			"bower/easydropdown/src/jquery.easydropdown.js",
			"bower/ion.rangeSlider/js/ion.rangeSlider.js",
			"js/main.js"
		])