include _mixins
doctype html
html(lang="ru")
	head
		include meta-standard
		+styles([
		"/bower/normalize-css/normalize.css",
		"/bower/owl.carousel/dist/assets/owl.carousel.css",
		"/bower/select2/dist/css/select2.css",
		"/bower/remodal/dist/remodal.css",
		"/bower/remodal/dist/remodal-default-theme.css",
		"/css/styles.css"
		])
		block title
			title Главная
	body
		include _header
		block content
		include _address
		include _footer
		+scripts([
			"/bower/jquery/dist/jquery.min.js",
			"/bower/owl.carousel/dist/owl.carousel.js", 
			"/bower/remodal/dist/remodal.js", 
			"/bower/select2/dist/js/select2.js", 
			"/js/main.js"
		])