extends section/_layout
block content
	
	.tab-links
		.tab-links__item Первый итем
		.tab-links__item Второй итем
		.tab-links__item Третий итем
	.tab-content
		.tab-content__item.active
			p 1
		.tab-content__item
			p 2
		.tab-content__item
			p 3
	.accordion
		.accordion__btn.accordion__btn--js Кнопка
		.accordion__content.active
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, modi vitae dignissimos optio nihil, non esse repellat fugit aspernatur necessitatibus laborum nam aliquid. Voluptas impedit aut provident, ea, dicta rem?
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam delectus iure laboriosam necessitatibus laudantium? Ex corrupti mollitia saepe dolores delectus iure accusantium, hic voluptates! Esse laboriosam maxime libero aliquam, ratione.
		.accordion__btn.accordion__btn--js Кнопка
		.accordion__content
			.checkbox-item
				input(type="checkbox" id="checkbox-0")
				label(for='checkbox-0') Чекбокс активный
			.checkbox-item.checkbox-item_radio
				input(type="checkbox" id="checkbox-1")
				label(for='checkbox-1') Чекбокс активный
			
		.accordion__btn.accordion__btn--js Кнопка
		.accordion__content
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, modi vitae dignissimos optio nihil, non esse repellat fugit aspernatur necessitatibus laborum nam aliquid. Voluptas impedit aut provident, ea, dicta rem?
	ul.menu
		li
			a(href="") О нас
		li
			a(href="") Разработчики
			ul.menu__sub
				li
					a(href="") sub1
				li
					a(href="") sub2
				li
					a(href="") sub3
				li
					a(href="") sub4
		li
			a(href="") Продукция
		li
			a(href="") Портфолио
		li
			a(href="") Каталог