extends section/_layout
block content
	.test-bg
	.test-pseudo
	.accordion
		+accordion
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet eaque quae veritatis molestiae dolorem quisquam praesentium deserunt ipsa tempora, quasi recusandae ex expedita, nam necessitatibus cumque, unde similique modi enim.
		+accordion
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet eaque quae veritatis molestiae dolorem quisquam praesentium deserunt ipsa tempora, quasi recusandae ex expedita, nam necessitatibus cumque, unde similique modi enim.