// $fa-font-path = 'font-awesome'
// @import '../../node_modules/fa-stylus/fa-stylus/index.styl'
// base styles
*
	padding unset 
	margin unset
	box-sizing border-box

html
	font-size 14px
html,body
	height 100%
a
	display block
	text-decoration none
button
	outline none

table
	width 100%

body
	// 

.wrapper
	@extend $margin-auto

