// $fa-font-path = 'font-awesome'
// @import '../../node_modules/fa-stylus/fa-stylus/index.styl'
import('checkbox/checkbox.css')
import('accordion/accordion.css')

// base styles 
*
	padding unset 
	margin unset
	box-sizing border-box
html
	font-size 14px
html,body
	height 100%


body
	// 

.wrapper
	@extend $margin-auto



	

